<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Lists</a>
        <ul id="nav-mobile" class="right">
            <li><a href="/">home</a></li>
            <li><a href="/customers">customers</a></li>
        </ul>
    </div>
</nav>