<link href="/style.css" rel="stylesheet" type="text/css">

<div class="container">
    <h1>Hi <%= name %></h1>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
</div>