<link href="/style.css" rel="stylesheet" type="text/css">
<div class="container">
    <h1>Register</h1>
    <form action="/register" method="POST">
        <div class="row">
            <div class="col-25">
                <label for="name">Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="name" name="name" required>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="email">Email</label>
            </div>
            <div class="col-75">
                <input type="email" id="email" name="email" required>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="password">Password</label>
            </div>
            <div class="col-75">
                <input type="password" id="password" name="password" required>
            </div>
        </div>
        <button type="submit">Register</button>
    </form>
    <a href="/login">Login</a>
</div>